Repository ToxicToast/Toasty: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --list-different, eslint

.lintstagedrc:

{
  "*.{css,scss,json}": ["prettier --list-different"],
  "*.{js,jsx,ts,tsx}": ["prettier --list-different", "eslint"],
}

test: add tests for helpers and exceptions
  libs/shared/src/__tests__/exceptions/accessToken.exception.spec.ts
  libs/shared/src/__tests__/exceptions/refresh.exception.spec.ts
  libs/shared/src/__tests__/exceptions/refreshToken.exception.spec.ts
  libs/shared/src/__tests__/helpers/color.helper.spec.ts
  libs/shared/src/__tests__/helpers/message.helper.spec.ts
  libs/shared/src/__tests__/helpers/roles.helper.spec.ts
Due: prettier --list-different, eslint

fix: Fix Refresh Exception Test
  libs/shared/src/__tests__/exceptions/refresh.exception.spec.ts
Due: prettier --list-different, eslint

feat: Add Bot App
  apps/bot/.eslintrc.json
  apps/bot/jest.config.ts
  apps/bot/project.json
  apps/bot/src/assets/.gitkeep
  apps/bot/src/main.ts
  apps/bot/tsconfig.app.json
  apps/bot/tsconfig.json
  apps/bot/tsconfig.spec.json
  package-lock.json
  package.json
Due: prettier --list-different, eslint

chore: add serve script
  package.json
Due: prettier --list-different

feat: Add Authentication, Add Bot, Add Environment File, Add Logger
  .eslintrc.json
  .gitignore
  apps/bot/src/auth.ts
  apps/bot/src/bot.ts
  apps/bot/src/environment.ts
  apps/bot/src/logger.ts
Due: prettier --list-different, eslint

feat: Add Join, Part and Message Event
  libs/shared/src/lib/events/index.ts
  libs/shared/src/lib/events/join.event.ts
  libs/shared/src/lib/events/message.event.ts
  libs/shared/src/lib/events/part.event.ts
  libs/shared/src/lib/index.ts
Due: prettier --list-different, eslint

feat: Add Logging Option, Fix Execute Type in Plugin
  apps/bot/project.json
  libs/shared/src/lib/interfaces/options.interface.ts
  libs/shared/src/lib/interfaces/plugin.interface.ts
Due: prettier --list-different, eslint

chore: Add Example Bot inside Main
  apps/bot/src/main.ts
Due: prettier --list-different, eslint

chore: stuff
  apps/bot/src/bot.ts
  apps/bot/src/logger.ts
  libs/shared/src/lib/enums/events.enum.ts
  libs/shared/src/lib/events/message.event.ts
  libs/shared/src/lib/helpers/index.ts
  libs/shared/src/lib/helpers/plugin.helper.ts
  libs/shared/src/lib/interfaces/plugin.interface.ts
Due: prettier --list-different, eslint

fix: Add Logger to Lib
  apps/bot/src/auth.ts
  apps/bot/src/bot.ts
  libs/shared/src/lib/classes/index.ts
  libs/shared/src/lib/classes/logger.class.ts
Due: prettier --list-different, eslint

chore: add timeout event and update example
  apps/bot/src/main.ts
  libs/shared/src/lib/events/index.ts
  libs/shared/src/lib/events/timeout.event.ts
  libs/shared/src/lib/helpers/plugin.helper.ts
  libs/shared/src/lib/index.ts
Due: prettier --list-different, eslint

chore: github action to publish bot to npm
  .github/workflows/published.yml
  package.json
Due: prettier --list-different

chore: add userId to refresh token
  apps/bot/src/auth.ts
Due: prettier --list-different, eslint

chore: Stuff
  .github/workflows/published.yml
  apps/bot/src/auth.ts
  apps/bot/src/bot.ts
  package-lock.json
Due: prettier --list-different, eslint

chore: Prettier
  libs/croutons/README.md
  libs/toasty/README.md
Due: none

chore: Update Version
  libs/toasty/package.json
Due: prettier --list-different

chore: Fix Dependencies
  libs/croutons/package.json
  libs/toasty/package.json
Due: prettier --list-different

fix: Fix Bot Project Entry
  apps/bot/project.json
Due: prettier --list-different

chore: Update Workflow
  .github/workflows/published.yml
  package-lock.json
Due: prettier --list-different

chore: gen lock file
  package-lock.json
Due: prettier --list-different

chore: test
  package-lock.json
Due: prettier --list-different

chore: update bot package
  apps/bot/package.json
Due: prettier --list-different
